
span{
    color: var(--content-secondary);
    font: var(--overline);
    font-family: 'Roboto-flex', sans-serif;
    margin-block: 1.3rem;
  }



form{
    max-width: 70%;
    margin-top: 2.5rem;
    display: grid;
    margin-top: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    & label{
      color: var(--content-secondary);
      font: var(--label-medium);
      font-family: 'Roboto-flex', sans-serif;
    }
  }


  .number-wrapper{
    display: flex;
    grid-row: 1/2;
    flex-direction: column;
    gap: 0.5rem;
    & input{
    all: unset;
    width: 6rem;
    text-align: center;
    height: 3.5rem;
    border-radius: .5rem;
    background: var(--background-secondary);
    border: none;
    padding-inline: 12px;
    box-sizing: border-box;
    color: var(--content-brand);
    font: var(--display-small);
    font-family: 'Sora', sans-serif;
    grid-column: 2/3;
    }
 & input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: var(--content-brand);
  transition: background-color 9999s ease-in-out 0s;
}
  }


  .radio-wrapper{
    grid-row: 2/3;
  }
  .button_submit{
    grid-row: 3/4;
    grid-column: 1/4;
    height: 3.5rem;
    width: 100%; /* Vai aplicar a largura de acordo com o conteúdo */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    background: var(--background-tertiary);
    border: 1.5rem transparent;
    font: var(--label-medium);
    font-family: 'Roboto flex', sans-serif;
    border-radius: 8px;
    position: relative;
    
  }

  @keyframes gradientColors{
    0%{
      background: #77C0AF;
    }
    14.84%{
      background: #D1DC97;
    }
    32.15%{
      background: #E9A9B3;
    }
    65.79%{
      background: #D586E0;
    }
    84.54%{
      background: #91A1FA;
    }
    100%{
      background: #77C0AF;
    }
  }
  .button_submit:hover{
    animation: gradientColors infinite 1.5s;
  }
  .button_submit:before{
    content: "";
    top: 0;
    left: 0;
    inset: 2px;
    border-radius: 8px;
    position: absolute;
    border: 1.5rem;
    background: var(--background-tertiary);
  }
  .button_submit:after{
    content: attr(aria-label);
    position: absolute;
    color: #fff;
  }

.radio-group{
  display: flex;
  grid-column: 1/3;
  align-items: center;
  gap: 1rem;
  margin-block: 1.5rem 2.5rem;
}
.radio-wrapper{
  width: 3rem;
  height: 1.5rem;
  background: var(--content-secondary);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.radio-wrapper input{
  all: unset;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  /* background: red; */
  transition: 200ms;
}
.radio-wrapper input:checked{
  background: #FFF;
}

.no-repeat{
  background: var(--gradient-background);
}