.result{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 28rem;
  justify-content: center;
  align-items: center;
}
.spans-group{
  grid-column: 1/4;
  width: 100%;
  padding-inline: .5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.spans{
  color: var(--content-brand);
  font-family: 'Roboto Mono';
  font-size: 3rem;
}

.format-result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}