*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  /* CONTENT */
  --content-secondary: #C7C9CC; 
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;
  /* BACKGROUND */
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #C58DE7;
  --background-gray: #3D3D3D;
  /* ACCENT */
  --accent-pink: #d586e0;
  --acent-blue: #91a1fa;
  --accent-green: #77c0a0;
  --accent-lime: #d1dc97;
  --acent-red: #e9a9b3;
  /* gradient */
  --gradient-border: linear-gradient(to left, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
  --gradient-background: linear-gradient(to left, #D586E0 0%, #91A1FA 98.93%);
  --gradient-content: linear-gradient(to left, #C7C9CC 0%, #3D3D3D 100%);

  /* TIPOGRAFIA */
  --display-large: 800 4.5rem/130% Uppercase;
  --display-medium: 800 2.5rem/130% Uppercase;
  --display-small: 600 2rem/130% Uppercase;

  --overline: 600 1rem/150% Uppercase;

  --paragraph-large: 500 1rem/150%;
  --paragraph-medium: 500 0.875rem/150%;
  --paragraph-small: 500 0.75rem/150%;
  --label-medium: 600 1.25rem/150%;
  --label-small: 600 1rem/150%;
  
}

